@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Pacifico:400');
@import url('font-awesome.min.css');

  @import "libs/skel";

  @include skel-breakpoints((
    xxlarge: '(max-width: 1920px)',
    xlarge: '(max-width: 1680px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 1000px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)',
  ));

  @include skel-layout((
    reset: 'full',
    boxModel: 'border'
  ));

// Base.

  @import 'base/page';
  @import 'base/typography';

// Component.

  @import 'components/box';
  @import 'components/button';
  @import 'components/form';
  @import 'components/icon';
  @import 'components/image';
  @import 'components/list';
  @import 'components/section';
  @import 'components/table';
  @import 'components/poptrox-popup';
  @import 'components/gallery';

// Layout.

  @import 'layout/header';
  @import 'layout/main';
  @import 'layout/footer';

/* Intro */

  #intro {
    // background: url('images/overlay.png'), url('../../images/two.jpg');
    background: _palette(accent1, bg);
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;
    h2 {
      color: #FB5050;
    }
    a {
      text-decoration-style: dotted;
      color: #343434;
    }
    a:hover {
      color: #b8b8b8;
    }
    a:visited {
      color: #6e6e6e;
    }
  }

/* One */

  #one {
    background: url(''), url('../../images/one.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
    .icon {
      font-size: 3vw;
    }
  }

/* Two */

  #two {
    background: url('images/overlay.png'), url('../../images/two.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
  }

/* Three */

  #three {
    background: url('images/overlay.png'), url('../../images/two.jpg');
    background-size: 256px 256px, cover;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
  }
  #work {
    .content {
      h2 {
        color: #FB5050;
      }
      a {
        color: #1c1c1c;
        text-decoration-style: dotted;
      }
      a:visited {
        color: #1c1c1c;
        text-decoration-style: dotted;
      }
      .anim {
        padding: 3em;
      }
    }

    img, svg {
      display: inline-block;
      vertical-align: middle;
    }
    svg {
      height: 50px;
      width: 50px;
      display: inline-block;
    }
  }
/* Contact */

  #contact {
    overflow: hidden;
    padding-bottom: 0;

    .box {
      @include vendor('transition', 'transform #{_duration(fade-in)} ease');
      @include vendor('transform', 'translateY(0)');
      position: relative;
    }

    &.inactive {
      .box {
        @include vendor('transform', 'translateY(100%)');
      }
    }

    @include breakpoint(small) {
      .box {
        padding-bottom: 2em;
      }
    }
  }
  // Portfolio
  .portfolio {
    img {
      -webkit-filter: opacity(30%); /* Safari 6.0 - 9.0 */
      filter: opacity(30%);
    }
    img:hover {
      -webkit-filter: none; /* Safari 6.0 - 9.0 */
      filter: none;
    }
  }
